@model IEnumerable<Emerson1.Models.Movie>

@{
    ViewBag.Title = "Index";
}

@if (!Model.Any())
{
    <p>There is no Movies to display.</p>
}
else
{
    <div>
        <br />
    </div>
    <h2>Movies</h2>
    @Html.ActionLink("New Movie", "MoviesForm", "Movies", null, new { @class = "btn btn-primary"})
    <div>
        <br />
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie List</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "Details", "Movies", new { MovieID = @item.Id}, null)
                    </td>
                    <td>
                        @item.Genre.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
